#maskcam {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  height: 0; /* Start collapsed */
  overflow: hidden;
  padding: 0;
}
#maskcam.expanded {
  height: 30vh; /* Expand to 25% of viewport height */
  padding: 0px;
}

.scrollable-column {
  overflow-y: auto;
  height: 100%;
}

#maskcam-feed {
  flex: 0 0 30%; /* Take up 30% of the width */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  height: 100%; /* 90% of the #screenrecord height */
}

#maskcam-feed video {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}

/* ---------------------- */
/* for the maskcam view PAGE WINDOW */
/* ---------------------- */
#maskcam-view-top {
  height: 100vh;
  width: 100vw;
  outline: none;
  background-color: gray;
  -webkit-app-region: drag; /* Make the div draggable */
  cursor: grab;
  overflow: auto;
}

#maskcam-view-top:active {
  cursor: grabbing; /* Change cursor to grabbing when active */
}

#video-container {
  height: 100%;
  width: 100%;
  background-color: gray;
}

#maskcam-webcam-feed {
  flex: 0 0 100%; /* Take up 30% of the width */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  height: 100%; /* 90% of the #screenshot height */
}

#maskcam-webcam-feed video {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}

#face-mesh-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
