#screenrecord {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  height: 0; /* Start collapsed */
  overflow: hidden;
  padding: 0;
}
#screenrecord.expanded {
  height: 25vh; /* Expand to 25% of viewport height */
  padding: 10px;
}

#screenrecord-feed {
  flex: 0 0 30%; /* Take up 30% of the width */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  height: 100%; /* 90% of the #screenrecord height */
}

#screenrecord-feed video {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}

#screenrecord-actions {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack the select and button vertically */
  align-items: flex-start; /* Center items horizontally */
  /* justify-content: center; */
  gap: 2px; /* Space between select and button */
  margin-left: 10px;
}

.screenrecord-selections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto 0;
  gap: 10px; /* Adjust this value to your preference */
}

.screenrecord-selections > div {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  flex: 1; /* Allow each child div to take up equal space */
}

.screenrecord-buttons {
  /* margin: auto 0;  */
  display: flex; /* This will make its children lay out in a row */
  justify-content: center; /* This will center the items horizontally */
  align-items: center; /* This will center the items vertically */
  flex-wrap: nowrap; /* This will prevent the items from wrapping to the next line */
  gap: 5px;
}

#screenrecord-cancel,
#screenrecord-pause,
#screenrecord-save {
  display: none;
}

.screenrecord-label {
  display: block;
  color: red; /* Color for a successful message */
  margin-left: 10px; /* Spacing between the labels */
}

#screenrecord-screen-dropdown-menu {
  width: 60%;
  max-height: 60px; /* Adjust this value as needed */
  overflow-y: auto; /* Adds a vertical scrollbar */
}

/* for the screen shot selection of screen feed */
#screenrecord-screen-select-btn {
  font-size: 12px; /* Set font size */
  padding: 5px 10px; /* Reduce padding, adjust as needed */
  width: 60%; /* Set width relative to parent */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  text-align: left;
  padding: 3px;
}

.screenrecord-tooltip-inner .screenrecord-tooltip-image {
  height: 100px;
  width: 100px;
  display: block;
}

#screenrecord-selectionUL {
  width: 30%;
  font-size: 11px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  padding: 0px 0px; /* Adjust padding to reduce space, modify as needed */
}
