@import url("components/main-components/component-messages.css");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.content {
  margin-top: 7vh; /* Start below the menu */
  margin-bottom: 10px;
  /* height: 100%; */
  height: calc(100vh - 7vh);
  overflow-y: auto; /* Vertical scrolling */
  padding: 10px;

  background-color: rgb(152, 152, 152);
  position: relative; /* Relative positioning to ensure it respects the fixed menu */
}

.component-content {
  display: none; /* Start collapsed */
  background-color: #f5f5f5;
  padding: 10px;
}

.component {
  display: block;
  background-color: #2a6992;
  color: #000000;
  padding: 5px;
  margin: 10px 0;
  margin-top: 2vh;
  border-radius: 5px;
}
.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  background-color: #5aade4;
  padding: 0 10px;
}
.component-title {
  font-size: 14px;
}
.toggle-button {
  background-color: #33831c;
  color: #fff;
  border: none;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 12px;
}

.scroll-container {
  width: 50%; /* Maximum width */
  text-align: center; /* Center the text */
  overflow: hidden; /* Allow horizontal scrolling */
  white-space: nowrap; /* Keep the text in a single line */
  background-color: inherit; /* Take on the background color of the parent */
  margin: 0 auto; /* Center the div in the available space */
  padding: 0 10px; /* Padding for aesthetics */
}

.disabled-div {
  pointer-events: none; /* Disables click events */
  opacity: 0.5; /* Makes the div look faded or disabled */
}
