/* @import url("./pitch/pitcheffect.css"); */

#audioeffects {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
  grid-template-rows: 3fr 1fr;
  gap: 10px;
  height: 0;
  padding: 0;
  /* background-color: aqua; */
  overflow: hidden;
}
#audioeffects.expanded {
  height: 25vh;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#audioeffects-col1 {
  grid-column: 1;
  grid-row: 1;
}

#audioeffects-col2 {
  grid-column: 2;
  grid-row: 1;
}

.audioeffects-selections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto 0;
  gap: 10px;
}

.audioeffects-selections > div {
  margin: 0;
  padding: 0;
  flex: 1;
}

.audioeffects-selection {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  margin-left: 10px;
}

.audioeffects-buttons {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
}

.audioeffects-status-label {
  display: block;
  color: rgb(22, 18, 11);
  margin-left: 10px;
  font-size: 0.8em;
}

#audioeffects-controls {
  grid-column: 3;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.hidden {
  display: none;
}

/* generic css for the effects like sliders etc */
#sliderContainer {
  text-align: center;
  margin: 20px;
  overflow-y: auto;
  height: 80%;
}

.sliderGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the start of the container */
  margin-bottom: 10px; /* Adjust as needed */
}

.sliderGroup label {
  width: 20%; /* Fixed width for the label */
  margin-right: 10px; /* Space between label and slider */
  white-space: nowrap; /* Prevents label from wrapping */
  text-align: right; /* Optional: Aligns text to the right of the label */
}

.sliderWithValues {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; /* Adjusted to fill the remaining 85% of the container */
  flex-grow: 1; /* Allows the slider section to grow */
}

.sliderWithValues input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
}

input[type="range"] {
  /* Thumb styling for Webkit browsers */
  -webkit-appearance: none; /* Required to style the thumb */
  appearance: none;
  height: 10px; /* Adjust as needed */
  background: var(--thumb-color, black); /* Default color */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background: var(--thumb-color, black); /* Default color */
}

.minValue,
.maxValue {
  /* No need for absolute positioning, flexbox will handle the alignment */
}

label {
  display: block;
  margin-bottom: 10px;
}
