@import url("./pitch/pitcheffect.css");

#audioeffects {
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
  grid-template-rows: 3fr 1fr;
  gap: 10px; /* Adjust the gap as needed */
  height: 0; /* Start collapsed */
  padding: 0; /* No padding initially */
  background-color: aqua;
  overflow: hidden;
}
#audioeffects.expanded {
  height: 25vh; /* Expand to 25% of viewport height */
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#audioeffects-col1 {
  grid-column: 1; /* Place in the first column */
  grid-row: 1; /* Place in the first row */
  background-color: red;
}

#audioeffects-col2 {
  grid-column: 2; /* Place in the second column */
  grid-row: 1; /* Place in the first row */
  background-color: yellow;
}

.audioeffects-selections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto 0;
  gap: 10px; /* Adjust this value to your preference */
}

.audioeffects-selections > div {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  flex: 1; /* Allow each child div to take up equal space */
}

.audioeffects-selection {
  width: 100%; /* Ensure full width */
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column; /* Stack the select and button vertically */
  align-items: flex-start; /* Center items horizontally */
  justify-content: flex-start; /* Center items vertically */
  gap: 2px; /* Space between select and button */
  margin-left: 10px;
}

.audioeffects-buttons {
  grid-column: 1 / span 2; /* Span across both columns */
  grid-row: 2; /* Place in the second row */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: flex-start; /* Align items to the left */
  gap: 5px;
  background-color: tan;
}

.audioeffects-status-label {
  display: block;
  color: rgb(22, 18, 11); /* Color for a successful message */
  margin-left: 10px; /* Spacing between the labels */
  font-size: 0.8em;
}

#audioeffects-controls {
  grid-column: 3; /* Place in the second column */
  grid-row: 1 / span 2; /* Span across both rows */
  width: 100%; /* Take up full width of the column */
  height: 100%; /* Take up full height */

  /* background-color: rgb(221, 78, 78); */
}
