#screenshot {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  height: 0; /* Start collapsed */
  overflow: hidden;
  padding: 0;
}
#screenshot.expanded {
  height: 25vh; /* Expand to 25% of viewport height */
  padding: 10px;
}

#screenshot-feed {
  flex: 0 0 30%; /* Take up 30% of the width */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  height: 100%; /* 90% of the #screenshot height */
}

#screenshot-feed video {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}

#screenshot-selection {
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column; /* Stack the select and button vertically */
  align-items: flex-start; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  gap: 2px; /* Space between select and button */
  margin-left: 10px;
}

.screenshot-saved-label {
  color: green; /* Color for a successful message */
  margin-left: 10px; /* Spacing between the labels */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s; /* Smooth fade-in and fade-out */
}

.tooltip-inner .tooltip-image {
  height: 100px;
  width: 100px;
  display: block; /* Ensures the image is not inline */
}
