#screenshot {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  height: 0; /* Start collapsed */
  overflow: hidden;
  padding: 0;
}
#screenshot.expanded {
  height: 25vh; /* Expand to 25% of viewport height */
  padding: 10px;
}

#screenshot-feed {
  flex: 0 0 30%; /* Take up 30% of the width */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  height: 100%; /* 90% of the #screenshot height */
}

#screenshot-feed video {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}

#screenshot-selection {
  width: 100%; /* Ensure full width */
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column; /* Stack the select and button vertically */
  align-items: flex-start; /* Center items horizontally */
  justify-content: flex-start; /* Center items vertically */
  gap: 2px; /* Space between select and button */
  margin-left: 10px;
}

.screenshot-saved-label {
  color: green; /* Color for a successful message */
  margin-left: 10px; /* Spacing between the labels */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s; /* Smooth fade-in and fade-out */
}

#screenshot-screen-dropdown-menu {
  width: 50%;
  max-height: 60px; /* Adjust this value as needed */
  overflow-y: auto; /* Adds a vertical scrollbar */
}

/* for the screen shot selection of screen feed */
#screenshot-screen-select-btn {
  font-size: 12px; /* Set font size */
  padding: 5px 10px; /* Reduce padding, adjust as needed */
  width: 60%; /* Set width relative to parent */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  text-align: left;
  padding: 3px;
}

.screenshot-tooltip-inner .screenshot-tooltip-image {
  height: 100px;
  width: 100px;
  display: block;
}

#screenshot-selectionUL {
  width: 30%;
  font-size: 11px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  padding: 0px 0px; /* Adjust padding to reduce space, modify as needed */
}
