#sliderContainer {
  text-align: center;
  margin: 20px;
}

.sliderWithValues {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderWithValues input[type="range"] {
  width: 80%; /* Adjust as needed */
}

.minValue,
.maxValue {
  position: absolute;
}

.minValue {
  left: 0;
}

.maxValue {
  right: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}
